.about__content-star {
    color: #e4a853;
    font-size: 18px;
    display: flex;
    grid-gap: 5px;
    margin-bottom: 30px;
    opacity: 1
}

.about__content-description {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 4px;
    color: #666666;
}

.about__content-heading{
    
}